#body {

    background: linear-gradient(45deg, #55381D, #FFD389);
    background-attachment: fixed;
}

#visual-canvas {
    margin: auto;
    background: #fff;
}

table {
    background: linear-gradient(45deg, #4B8B97, #A9EFFC);
    width: 100%;
    background-position: center;
    text-align: center;

}

input {
    float: left;
}

.container {
    padding: 15px;
}